.Todo{
    display: flex;
    padding: 0.3rem;
    align-items: center;
    width: 65%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.Todo:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
}

.TodoIcon{
    font-size: smaller;
    margin-right: 0.5rem;
}

.TodoLabel{
    color: black;
    font-size: medium;
    font-weight: 500;
}

.TodoLabel{
    font-weight: 800;
}